@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Russo One", "sans-serif";
    color: white;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --purple: #540351;
    --blue: #3915a2;
    --cyan: #53b3e3;
    --transparent: #00000000;
    --radius-left: 3rem 0 0 3rem;
    --radius-right: 0 3rem 3rem 0;
}

button:hover,
.class-sub-container a:hover,
.project-item:hover,
.skill-item:hover,
.item:not(.active):hover,
.sub-container-2:not(.active-subheading):hover,
.sub-container-3:not(.active-subheading):hover{
    background-image: linear-gradient(90deg, #ffffff00, #ffffff42 50%, #ffffff00);
}